{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <main class="articleAdd">
        <h1 class="articleAdd__title">Ajouter un articles</h1>
         {{ form_start(form) }}            
                <div class="admin__form">
                    {# {{ form_row(form.title) }}
                    {{ form_row(form.content) }} #}
                    {{ form_widget(form) }}
                    <div class="form__button">
                        <input type="submit" value="Ajouter" class="button__add">
                    </div>
                </div>
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}
